.mainBackground {
  display: flex;
  justify-content: center;
  position: fixed;
  /* max-width: 1440px; */
  width: 100%;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b1509;
}

.mainBackground img {
  margin-right: 70px;
  max-width: 100vw;
  height: auto;
  z-index: -4;
  margin-top: 1290px;
}